.lista {
  display: grid;
  align-items: center;
  gap: 16px;
  width: 90%;
  margin: 20px auto;
  font-family: sans-serif;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.item {
  max-width: 400px;
  padding: 14px 18px;
  border-radius: 14px;
  background: white;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border-left: 6px solid #ff7ac6;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.17);
}

.texto {
  font-size: 1rem;
  font-weight: 500;

  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.completada {
  text-decoration-line: line-through;
  color: gray;
  opacity: 0.6;
}

.botones {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;
}

.botones button {
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  transition: opacity 0.2s ease;
}

.botones button:hover {
  opacity: 0.8;
}

.btn-completar {
  background: #6ee7b7;
  color: #065f46;
}

.btn-eliminar {
  background: #fca5a5;
  color: #7f1d1d;
}

.btn-eliminar-completadas {
  margin-top: 5px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-eliminar-completadas:hover {
  background-color: #ff4b4b;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-eliminar-completadas:active {
  transform: translateY(0);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.mensaje {
  color: #6b7280;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  margin-top: 12px;
}
