.navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 25px;
  background: #ffffff;
  border-bottom: 2px solid #ff8fab;
}
.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.inicio {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  border-radius: 8px;
  transition: transform .3s;
}

.logo:hover {
  transform: rotate(3deg) scale(1.05);
}

.titulo {
  font-size: 42px;
  font-weight: 700;
  background: linear-gradient(90deg, #ff8fab, #ff5c8a, #b565a7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins";
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.buscador {
  display: flex;
  align-items: center;
  gap: 10px;
}

#buscar {
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid #ff8fab;
  font-size: 16px;
  transition:.3s;
}

#buscar:focus {
  border-color: #b565a7;
  box-shadow: 0 0 6px #ea51f07e;
}

.navegacion.oscuro {
  background: #3b3b3b;
}

.navegacion.oscuro .titulo {
  background: linear-gradient(90deg, #d8b4fe, #c084fc, #a855f7, #7e22ce);
  background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.navegacion.oscuro #buscar {
  background:#555454;
  color:#cac6c6;
  border-color:#f0bbed;
}

.navegacion.oscuro #buscar::placeholder { color:#787779; }

.modo {
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #ff8fab, #ff5c8a, #b565a7);
  color: white;
  box-shadow: 0 4px 10px rgba(255, 92, 138, 0.4);
  transition: transform .25s, box-shadow .25s, background .4s;
}

.modo:hover {
  transform: translateY(-2px) scale(1.04);
  box-shadow: 0 6px 14px rgba(255, 92, 138, 0.55);
}
.modo:active {
  transform: scale(0.96);
}

.navegacion.oscuro .modo {
  background: linear-gradient(90deg, #29123a, #3a1f55, #5b2f86);
  color: #e6d7ff;
  box-shadow: 0 4px 10px rgba(55, 25, 87, 0.7);
}

.navegacion.oscuro .modo:hover {
  background: linear-gradient(90deg, #3a1f55, #5b2f86, #7947b5);
  box-shadow: 0 6px 14px rgba(121, 71, 181, 0.6);
}