.contenedor {
  width: min(95%, 1200px);
  margin: 40px auto;
  padding: 30px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contenedor.oscuro-borde {
  background: rgba(23, 3, 27, 0.85);
  border: 2px solid #ffffffa8;
}

