.subtitulo {
  font-size: 14px;
  color: #888888;
  font-style: italic;
  text-align: left;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin: 2px auto;
}

#inputTarea,
#inputColor, #inputBuscar {
  margin-top: 6px;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: 2px solid #ff7ac4;
  outline: none;
  transition: all 0.3s ease;
  font-size: 1rem;
}

#inputTarea:focus {
  border-color: #ff008c;
  box-shadow: 0 0 6px #ff4bb5;
}

#inputColor {
  width: 70px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

#inputColor:hover {
  transform: scale(1.1);
}

.btn-agregar {
  width: 100%;
  padding: 0.8rem;
  background: linear-gradient(135deg, #dd80f0, #ff62d3);
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(255, 0, 170, 0.3);
}

.btn-agregar:hover {
  background: linear-gradient(135deg, #ed62ff, #941294);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(255, 0, 170, 0.45);
}

.btn-agregar:active {
  transform: scale(0.97);
}